body {
    padding-top: 55px;
    padding-bottom: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

#unieatLogo {
    height: 25px;
}
.blackLogo{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.slideshw-navigation {
    width: 20px;
}

.no-wrap {
    white-space: nowrap;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-cropped {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.slide-image .card-top {
    height: 20vh;
}

.slide-image img {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.rounded-notification {
    border-radius: 15px;
}

.rounded-thumbnail {
    border-radius: 20%;
}

.notification-count {
    font-size: 0.7rem;
    display: none;
}

.notification-badge {
    position: absolute;
    right: 7px;
    top: 7px;
}

.not-viewed {
    background-color: cyan;
}

.content {
    padding: 3%;
}

.main-container {
    background-color: white;
    overflow: auto;
}

.long-desc {
    text-overflow: ellipsis;
}

.overlay {
    background-color: white;
    opacity: 0.8;
    color: black;
    position: absolute;
    z-index: 1;
}

.shopName {
    font-size: 40pt;
}

.shopShortDesc {
    font-size: 30pt;
}

.thumbnail {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.main-slideshow {
    height: 50vh;
}

.navbar-collapse {
    width: 100%;
}

.multi-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.lineRow:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.lineRow:hover {
    background-color: rgb(230, 230, 230);
}

h2 {
    color: rgb(120, 150, 120);
}

.orderState {
    text-shadow: 0px 0px 10px;
}

.toast {
    border: 0px;
    background-color: transparent;
    width: 90%;
}

.toast-container {
    position: fixed;
    width: 100%;
    z-index: 4000;
}

.toast-header {
    background-clip: border-box;
    border-bottom: 0px;
    background-color: #999999;
    color: white;
}

.toast-body {
    background-color: #cacaca;
}

.fa-exclamation-circle {
    font-size: 20px;
}

@media (min-width: 768px) {
    body {
        background-image: url("../images/unieat-background.png"),linear-gradient(rgba(175, 255, 231, 0.3), #8ef993);
        background-repeat: repeat, no-repeat;
        background-attachment: fixed;
    }

    .multi-line {
        -webkit-line-clamp: 3;
    }

    .main-container {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 5px 0px 10px lightgreen, -5px 0px 10px lightgreen;
    }

    .main-slideshow {
        height: 70vh;
    }

    .notifications-container {
        width: 60vw;
    }

    .navbar-collapse {
        width: auto;
    }

    .toast-container {
        padding-right: 10px;
        bottom: 30px;
    }

    .toast {
        width: 50%;
    }

    .slide-image .card-top {
        height: 30vh;
    }
}

@media (min-width: 992px) {
    .main-container {
        width: 70vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .toast {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .toast-container {
        top: 60px;
    }

    .toast {
        align-self: center;
    }
}
