.carousel-caption {
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.carousel-control-next, .carousel-control-prev {
    z-index: 11 !important;
}

.carousel-caption .h4, .carousel-caption h1 {
    text-shadow: 3px 3px 4px black;
}
